@viewport{zoom:1.0;width:device-width;}
@-ms-viewport { width: device-width; }
html { font-family: 'Poppins', sans-serif; }
body { -ms-overflow-x:hidden; overflow-X:hidden; background-color: #fbfbfb; }
.bodyoverflow { width:100%; -ms-overflow-x:hidden; overflow-X:hidden; }
@media only screen and (min-width: 1200px) { html { font-size: 13px; } }
@media only screen and (min-width: 992px) { html { font-size: 12px; } }
@media only screen and (min-width: 0) { html { font-size: 11px; } }
nav i { color: #fff;}
nav { background-color: #4E4D4D; color: #212121; width: 100%; height: 56px; line-height: 56px; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
nav ul a { font-size: 1.3em; letter-spacing: 2px; color: #f5f5f5; }
nav a.button-collapse, nav a.button-collapse i { height: 56px; line-height: 56px; }
nav .hide-on-med-and-down a { text-align: center; }
nav .hide-on-med-and-down .active a, nav .hide-on-med-and-down a:hover { -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; background-color: #fff; color: #6D6E72 !important; }
nav .hide-on-med-and-down .current_page_item a { background-color: #FE5E00; color: #fff !important;  }
h1 {font-size: 3.1em; font-family: 'Open Sans', sans-serif;}
h2 {font-size: 2.8em; font-family: 'Open Sans', sans-serif;}
h3 {font-size: 2.3em; font-family: 'Open Sans', sans-serif;}
h4 {font-size: 1.7em; font-family: 'Open Sans', sans-serif;}
h5 {font-size: 1.5em; font-family: 'Open Sans', sans-serif;}
p {font-size: 1.3em; text-align: justify; line-height: 25px; }
.row { margin-left: auto; margin-right: auto; }
.height100 { height: 100%; }
.width75p { width: 75%; }
.marginauto{ margin: auto; }
.padding20 { padding: 20px; }
.margin5 { margin: 5px; }
.margintop100 { margin-top: 100px }
.margintop75 { margin-top: 75px }
.margintop70 { margin-top: 70px }
.margintop50 { margin-top: 50px }
.margintop25 { margin-top: 25px }
.margintop12 { margin-top: 12px }
.margintop10 { margin-top: 10px }
.margintop0 { margin-top: 0px }
.margintop5 { margin-top: 5px }
.marginbot0 { margin-bottom: 0px; }
.marginbot10 { margin-bottom: 10px; }
.marginbot25 { margin-bottom: 25px; }
.marginbot45 { margin-bottom: 45px; }
.margintopmenos50 { margin-top:-50px !important; }
.margintopmenos40 { margin-top:-40px !important; }
.margintopmenos25 { margin-top:-25px !important; }
.marginright25 { margin-right: 25px }
.marginleft25 { margin-left: 25px }
.marginright0 { margin-right: 0px !important; }
.marginleft0 { margin-left: 0px !important; }
.paddingtop75{ padding-top: 75px; }
.paddingtop50{ padding-top: 50px; }
.paddingtop32{ padding-top: 32px; }
.paddingtop25{ padding-top: 25px; }
.paddingtop10{ padding-top: 10px; }
.paddingtop1{ padding-top: 1px; }
.paddingbot75{ padding-bottom: 75px; }
.paddingbot50{	padding-bottom: 50px; }
.paddingbot25{	padding-bottom: 25px; }
.paddingbot10{	padding-bottom: 10px; }
.paddingbot0{	padding-bottom: 0px; }
.paddingleft15 { padding-left: 15px !important; }
.paddingright15 { padding-right: 15px !important; }
.padding50 { padding: 50px; }
.padding0 {padding: 0px;}
.maxwidth100 { max-width: 100px !important; }
.footer { position:relative; z-index:100; min-height:40px; width:100%;}
.copyright {padding: 11px 0px 0px 0px;font-size:1.1em;color:#fff; letter-spacing:2px; text-align: center;}
.noshadow { box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12); }
.fondogris { background-color: #eee;  }
.fondogrisclaro { background-color: #fafafa; }
.fondogrisoscuro { background-color: #4E4D4D; }
.fondoazul { background-color: #003278; color: white; }
.fondonaranja { background-color: #FE5E00; }
.letranaranja { color: #FE5E00; }
.letranegra { color: rgba(0,0,0,0.87); }
.verticalalign { vertical-align: middle; }
footer label { font-size: 2.5em; color: white; }
.thfooter {width: 150px;}
.mix {display: none;}

.full { width: 100%; height: 100%; }
.menu-menu-principal-container{ position: relative; top: 0px; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
.brand-logo { padding-top: 7px !important;  height: 56px; }
.brand-logo img { height: 40px; width: auto; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; vertical-align: sub; }
.tickercontainer { position: relative; background: #fbfbfb;  width: 100%; height: 30px;  margin: 0;  padding: 0; overflow: hidden; }
.tickercontainer .mask { position: relative; background: #fbfbfb; left: 10px; top: 5px; height: 30px; width: 100%; overflow: hidden; }
nav .mask { line-height: 34px; color: #212121; }
ul.newsticker { position: relative; left: 100%; font-size: 1.1em; list-style-type: none; margin: 0; padding: 0; }
ul.newsticker li { float: left; margin: 0; padding: 0; }
ul.newsticker a { white-space: nowrap; padding: 0; color: #cd4b00; font-size: 1.2em; margin: 0 50px 0 0; display: inline; letter-spacing: 0px; }
ul.newsticker span { margin: 0 10px 0 0; font-size: 1.1em; }
.parallax-container { height: 256px; }
.pinned { z-index: 1000; }
.brand-logo { display: none !important;  -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
.logoxl img { height: 72px; }

label { font-size: 1.4rem; color: #222; }

.inicio-video video { width: 100%; margin-top: -192px; }
.inicio-video { height: 640px; overflow: hidden; }
.textparallax { width: 95%; margin: 0px auto; text-align: center; position: relative; top: 155px; }
.p1 { background-color: rgba(0,0,0,0.3); }

.textbanner { line-height: 1.3; width: 95%; margin: 0px auto; text-align: right; position: relative; }
.textbanner h4 { background-color: rgba(254,94,0,0.7); color: #fff; display: inline; padding: 4px 0px 0px 25px; margin: 0; }
.textbanner i {padding: 4px 0; color: #fff; display: inline; padding: 4px 0px 0px 25px; margin: 0; }
.textbanner h4 strong, .textbanner h4 strong i { position: relative; left: -10px; }

.wide { height: 100% !important; width: auto !important; }
.tall { width: 100% !important; height: auto !important; }
.block-with-text { /* hide text if it more than N lines  */ overflow: hidden; /* for set '...' in absolute position */ position: relative;  /* use this value to count block height */ line-height: 1.2em; /* max-height = line-height (1.2) * lines max number (3) */ max-height: 100px;  /* fix problem when last visible word doesn't adjoin right side  */ text-align: justify;   /* place for '...' */ margin-right: -1em; padding-right: 1em; }
.block-with-text:before { /* points in the end */ content: '...'; /* absolute position */ position: absolute; /* set position to right bottom corner of block */ right: 0; bottom: 0; }
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after { /* points in the end */ content: ''; /* absolute position */ position: absolute; /* set position to right bottom corner of text */ right: 0; /* set width and height */ width: 1em; height: 1em; margin-top: 0.2em; /* bg color = bg color under block */ background: white; }

nav { height: 57px; }
.navscroll { text-align: center; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
.menu-menu-principal-container { top: 0px; }
#nav-mobile li { float: none; display: inline-block; }
.menu-menu-principal-container{ position: relative; top: 0px; }
.button-collapse { top: 34px; }
.brandlogotransf {transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
.containernavbar { text-align: center; -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
.materialbox-caption { font-size: 1.8em; }
.navbar-redes a:hover { background-color: #FE5E00 !important; }
.side-nav{ background-color: #4E4D4D; }
.side-nav a { color: white; }
.current-menu-item.menu-item-type-custom.menu-item-object-custom a{ background-color: #939498 !important; color: #6D6E72 !important; }

footer .current-menu-item.menu-item-type-custom.menu-item-object-custom a{ background-color: inherit!important; color: #6D6E72 !important; }


.slider .slides li .caption { top: 10%; }
.ini-slider{ height: 412px !important; background-repeat: no-repeat; background-size: 70% auto !important; }
.ini-slider-der { background-position: center right !important; }
.ini-slider-izq { background-position: center left !important; }
.ini-slider-mid { background-position: center center !important; }
.ini-slogan {  background-size: 50% auto !important; }
.imgfloat { max-width: 500px; max-height: 500px; }

.p100x300 { max-height: 300px; overflow: hidden; }
.ini-noticias:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1); }
.ini-noticias img { -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; object-fit: cover; width: 700px; height: 350px; } 
.ini-noticias p { line-height: 0px; color: #424242; margin: 10px 0px 0px 0px; }
.ini-noticias p i { vertical-align: text-bottom; }
.ini-noticias h5 a { color: #FFF; padding: 0 20px; background: #FE5E00; line-height: 28px; }
.ini-noticias h5 { text-transform: uppercase; color: #fff; position: relative; line-height: 27px; margin-bottom: 15px; font-size: 1.7em; margin-bottom: 5px; }
.ini-noticias h5:after { position: absolute; height: 2px; background: #FE5E00; display: block; content: ''; bottom: 0; left: 0; right: 0; }
.ini-noticias h4 { font-weight: bold; margin-top: 5px; }
.ini-noticias .p100x300 { position: relative; }
.picture-gradient { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient( to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 80%, rgba(0,0,0,0.9) 99%, rgba(0,0,0,1) 100% ); z-index: 10; }
.banner-gradient { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: linear-gradient( to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 100% ); z-index: 10; }
.bold { font-weight: bold; }
.foto-rec { position: absolute; bottom: 20px; left: 35px; line-height: 12px; text-transform: uppercase; color: rgb(255, 255, 255); z-index: 11; background: #FE5E00; padding: 6px 7px 5px; transition: all 0.2s ease-in; }
.foto-rec a { color: rgb(255, 255, 255); font-size: 1.1em; line-height: 12px; }
.galeria-cuadrada { min-height: 300px; min-width: 300px; object-fit: cover; width: 300px; height: 300px; }
.galeria-centrada { min-width: 100%; min-height: 100%; width: auto; height: 300px; transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); -webkit-transform: translate(-50%, 0%); left: 50%; }
.ini-noticias-xl{min-height: 435px;}
.ini-noticias-xs{min-height: 475px;}
.carini{ position: relative; height: 243px; overflow: hidden;}
.slider{height: 480px!important;}
.slider .slides {height: 480px!important;}
.metro-carousel-inner {position:relative;width:100%;height: 466px;overflow: hidden;}
.metro-carousel-inner img {-ms-transform: translate(0%,-25%); -webkit-transform: translate(0%,-25%); transform: translate(0%,-25%); }
.carousel-slider{overflow: hidden;height: 466px!important;}
.foto-rec-slider { position: absolute; top: 20px; left: 35px; line-height: 12px; text-transform: uppercase; color: rgb(255, 255, 255); z-index: 11; background: #FE5E00; padding: 6px 7px 5px; transition: all 0.2s ease-in; }
.foto-rec-slider a { color: rgb(255, 255, 255); font-size: 1.1em; line-height: 12px; }
.foto-rec-slider-titulo { position: absolute; bottom: 55px; right: 35px; line-height: 12px; text-transform: uppercase; color: rgb(255, 255, 255); z-index: 11; background-color: rgba(254,94,0,0.7); padding: 6px 7px 5px; transition: all 0.2s ease-in; }
.foto-rec-slider-titulo a { color: rgb(255, 255, 255); font-size: 2em; line-height: 20px; }


.tab-empresa { margin-top: 0px; }
.tabs .tab a { color: rgba(0,0,0,0.8); font-size: 1.2em; letter-spacing: 2px; }
.tabs .tab .active, .tabs .tab a:hover { color: #FE5E00 !important; }
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 3px solid #eee; }

.galeria-a { font-size: 20px; color: #FE5E00; padding: 0px 10px 0px 10px; }
.galeria-a.active { color: #fff; background-color: #FE5E00; }

.grid { height: 100%; width: 100%; }
.grid:after {  content: ''; display: block; clear: both; }
.grid-item { float: left; width: 25%; height: auto; padding: 15px; }
.grid-item--width2 { width: 50%; }
.grid-sizer { width: 110px; height: 25%; }
.is-checked { color: #fff; background-color: #FE5E00; }
.grid-noticia {width: 50%; height: 200px; overflow: hidden; }

.page-number.active { background-color: #FE5E00; }
.page-number span { color: #444; display: inline-block; font-size: 1.2rem; padding: 0 10px; line-height: 30px; }
.page-number.active span { color: #fff; }
.pager { display: inline-block; border-radius: 2px; text-align: center; vertical-align: top; height: 30px; cursor: pointer; }
.isotope-pager{ width:100%; display: inline-block; border-radius: 2px; text-align: center; vertical-align: top; height: 30px; cursor: pointer; }
.isotope-pager a { background-color: #FE5E00; }
.isotope-pager a { font-size: 1.2rem; padding: 0 10px; line-height: 30px; }
.isotope-pager a { color: #fff; }
.table-catalogo { width: 100%; }
.collapsible-header { padding: 0px; }
.collapsible-header img { width: 100%; }
.collap-catalogo li { margin-bottom: 45px !important; margin-top: 25px !important; }
.collap-inner-padding { padding: 35px; }
.table-catalogo .collap-table-titulo {background-color:#fafafa !important; border-bottom: 1px solid #FE5E00;}
.table-catalogo p { padding: 0px; text-align: center; }
.table-catalogo th { padding: 5px 5px;  }
.collapsible-header {position: relative;}
.collap-table-titulo p { padding: 0px; text-align: center; }
.foto-rec.prod a {font-size: 2em;}
.laminas li {margin-top: 5px !important; margin-bottom: 5px !important;}
.btn-productos { position: absolute; background-color: #FE5E00; z-index: 10; }
.btn-productos i { width: inherit; display: inline-block; text-align: center; color: #fff; font-size: 2.6rem; line-height: 37px; }
.btn-productos:hover { background-color: #fe7e32; }
.btn-productos:focus { background-color: #fe7e32; }
.btn-floating.btn-large.btn-productos { bottom: 0px; right: 0px; width: 15px; height: 15px; }
.btn-floating.btn-large.btn-productos.active{ bottom: -25px; right: 25px; width: 55px; height: 55px;  }
.tabs-empresa a:hover, .tabs-empresa a.active { background-color: transparent; color: #FE5E00; }

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea { background-color: #fafafa!important; border: 1px solid #4E4D4D!important; }

:-moz-placeholder { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1.25em; }
::-webkit-input-placeholder  { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1.25em; }
::-moz-placeholder { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1.25em; }
:-ms-input-placeholder { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1.25em; }

.input-field input[type=text]:focus { font-size: 1.4em; border: 1px solid #FE5E00; box-shadow: 0 1px 0 0 #FE5E00; background-color: white; border: 1px solid #FE5E00; }
.input-field input[type=text].valid { font-size: 1.4em; border: 1px solid #00fe5e; box-shadow: 0 1px 0 0 #00fe5e; background-color: white; border: 1px solid #00fe5e; }
.input-field input[type=text].invalid { font-size: 1.4em; border: 1px solid #fe0021; box-shadow: 0 1px 0 0 #fe0021; background-color: white; border: 1px solid #003278; }

.input-field input[type=email]:focus { font-size: 1.4em; border: 1px solid #FE5E00; box-shadow: 0 1px 0 0 #FE5E00; background-color: white; border: 1px solid #FE5E00; }
.input-field input[type=email].valid { font-size: 1.4em; border: 1px solid #00fe5e; box-shadow: 0 1px 0 0 #00fe5e; background-color: white; border: 1px solid #00fe5e; }
.input-field input[type=email].invalid { font-size: 1.4em; border: 1px solid #fe0021; box-shadow: 0 1px 0 0 #fe0021; background-color: white; border: 1px solid #fe0021; }

.input-field input[type=number]:focus { font-size: 1.4em; border: 1px solid #FE5E00; box-shadow: 0 1px 0 0 #FE5E00; background-color: white; border: 1px solid #FE5E00; }
.input-field input[type=number].valid { font-size: 1.4em; border: 1px solid #00fe5e; box-shadow: 0 1px 0 0 #00fe5e; background-color: white; border: 1px solid #00fe5e; }
.input-field input[type=number].invalid { font-size: 1.4em; border: 1px solid #fe0021; box-shadow: 0 1px 0 0 #fe0021; background-color: white; border: 1px solid #fe0021; }

textarea.materialize-textarea{font-size: 1.4em;}
textarea.materialize-textarea:focus:not([readonly]) { border-bottom: 1px solid #FE5E00; box-shadow: 0 1px 0 0 #FE5E00; background-color: white; }
textarea.materialize-textarea:-moz-placeholder { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1em; }
textarea.materialize-textarea::-webkit-input-placeholder  { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1em; }
textarea.materialize-textarea::-moz-placeholder { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1em; }
textarea.materialize-textarea:-ms-input-placeholder { color: black; font-weight: bold; letter-spacing: 1px; padding: 5px; font-size: 1em; }

.input-field .prefix.active { color: #000; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
.cntctfrm_one_column { max-width: 100%; width: 100%;}
.cntctfrm_column { max-width: 100%; width: 100%; }
.cntctfrm_label, .cntctfrm_input, .cntctfrm_select, .cntctfrm_checkbox { max-width: 100%; }
.cntctfrm_contact_form input[type="text"], .cntctfrm_contact_form input[type="file"], .cntctfrm_contact_form select, .cntctfrm_contact_form textarea, .widget .cntctfrm_contact_form input[type="text"], .widget .cntctfrm_contact_form input[type="file"], .widget .cntctfrm_contact_form select, .widget .cntctfrm_contact_form textarea { width: 100%; margin: 0 !important; box-sizing: border-box; }
.cntctfrm_contact_form input.cntctfrm_contact_submit {background-color: #FE5E00;}
.cntctfrm_contact_form input.cntctfrm_contact_submit:hover { background-color: #fe8e4c; }
.cntctfrm_contact_form input.cntctfrm_contact_submit { text-decoration: none; color: #fff; letter-spacing: .5px; transition: .2s ease-out; }
.cntctfrm_contact_form input.cntctfrm_contact_submit { border: none; border-radius: 2px; display: inline-block; height: 36px; outline: 0; padding: 0 2rem; text-transform: uppercase; vertical-align: middle; -webkit-tap-highlight-color: transparent; }
.btn-ma{ background-color: #FE5E00; }
.btn-ma:hover { background-color: #fe8e4c; }
dl{ padding: 0px 25px 0px 0px; }


footer h5 { text-transform: uppercase; color: #222; position: relative; line-height: 27px; margin-bottom: 15px; font-size: 1.7em; margin-bottom: 5px; }
footer h5:after { position: absolute; height: 2px; background: #FE5E00; display: block; content: ''; bottom: 0; left: 0; right: 0; }
footer th { text-align: center; }
footer p { color: #222; font-size: 1.2em; font-weight: normal; padding: 0px; line-height: 20px; margin-top: 0px; margin-bottom: 0px; }
.footer-links { color: #222; font-size: 1.2em; font-weight: normal; }
.footer-links:before { content:"• "; }
.footer-th  { padding: 5px 15px; }
#footer-nav { padding: 5px 15px; }
#footer-nav li { margin-bottom: 10px; }
#footer-nav a { color: #222; font-size: 1.2em; font-weight: normal; }
#footer-nav a:before { content:"• "; }
footer .menu-menu-principal-container { top: 0px !important; }
.rrss:hover { border: 1px solid white; border-radius: 50%; }

@media screen and (max-width: 50em) {
	.content { padding: 0 10px; text-align: center; }
	.grid figure { display: inline-block; float: none; margin: 10px auto; width: 100%; }
}

@media (max-width:1440px){
    nav ul a { font-size: 1.2em; letter-spacing: 1px; padding: 0 7px; }
    .foto-rec.prod a {font-size: 1.7em;}
    h1 {font-size: 2.8em;}
    h2 {font-size: 2.4em;}
    h3 {font-size: 2em;}
    h4 {font-size: 1.6em;}
    h5 {font-size: 1.4em;}
    p {font-size: 1.2em; line-height: 25px; }
}
@media (max-width:1366px){
    nav ul a { font-size: 1.1em; letter-spacing: 2px; padding: 0px 5px; }
    .ini-slider{ background-size: 80% auto !important; }
    .ini-slogan {  background-size: 60% auto !important; }
	.metro-carousel-inner img {-ms-transform: translate(0%,0%); -webkit-transform: translate(0%,0%); transform: translate(0%,0%); }
}
@media (max-width:1080px){
    .ini-slider { background-size: 100% auto !important; }
    .tall { width: auto !important; height: 100% !important; }
    .navbar-redes { display: none; }
    .foto-rec.prod a {font-size: 1.4em;}
    nav ul a { letter-spacing: 0px; }
    .grid-item { width: 50%;  }
    .grid-item--width2 { width: 50%; }
}
@media (max-width:992px){
    .logotop{ display: none; }
    .brand-logo { display: block !important; }
    .menu-menu-principal-container { top: 0px; } 
    .navscroll { text-align: right; } 
    .brandlogotransf { transform: translate(0%, 0%); -ms-transform: translate(0%, 0%); -webkit-transform: translate(0%, 0%);  left: 15%; } 
    .brand-logo{ margin-top: 0px; }
    .button-collapse { top: 0px }
    .ini-slider-bg.margintop100 { margin-top: 20px; }
    table.responsive-table thead tr th::before { content: " "; }
    .table-catalogo .collap-table-titulo { background-color: #fafafa !important; border-bottom: 0px solid #FE5E00; border-right: 1px solid #FE5E00; }
}
@media (max-width:768px){
    .tall { width: 100% !important; height: auto !important; }
    .ini-slider { height: 256px !important; }
    .ini-slogan { height: 412px !important; }
    .collap-inner-padding { padding: 15px; }
    .doblelineaxs p{line-height: 50px}
}
@media (max-width:601px){
    .caption.valign-wrapper {display: block;}    
}
@media (max-width:520px){
	.slider{height: 212px!important;}
	.slider .slides {height: 212px!important;}
    .ini-slogan {  background-size: 100% auto !important; }
    .parallax img { width: 768px !important; }
    .grid-item { width: 100%;  }
    .grid-item--width2 { width: 100%; }
    .inner-collap { height: 150px; overflow: hidden; }
    .inner-collap img { width: auto; height: 150px; max-width: 1000%; transform: translate(-25%, 0%); -ms-transform: translate(-25%, 0%); -webkit-transform: translate(-25%, 0%); }
    .metro-carousel-inner img { max-width: inherit; height: 100%!important; width: auto!important; }
}
@media (max-width:375px){
    
}